<%- include('./partials/header'); -%>

<style>
    body{
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}
    #particles-js{
        height: 100vh;
        background: #696868;
    }
    .row{
        position: absolute;
        width: 15%;
        margin: 100px 35%;
    }
    .container{
        text-align: center;
    }
</style>

<div id="particles-js">
    <div class="container">
        <div class="row" style="margin-top: 100px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 id="about" style="text-align: center; color: rgba(250,164,26,0.8)">About Us</h1>
                <hr width="100%">
                <p style="text-align: center;">This is created for INKERS internship form.<br> This website is build
                    using Node.js
                </p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h2 style="color: rgba(250,164,26,0.8)">Team</h2>
                <hr width="100%">
                <h2 style="color: rgba(250,164,26,0.8)">Nitin</h2>
                <p id="p">C.S Undergraduates at VIT Vellore</p>
                <div id="icon" style="font-size: 40px;">
                    <a href="https://www.facebook.com/profile.php" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/nitin-5a385215b/" target="_blank"><i
                            class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/Ntn1712" target="_blank"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>





<%- include('./partials/footer'); -%>