<%- include('./partials/header'); -%>

<form action="/forgot" method="POST">
    <input type="text" name="email" placeholder="email of the user">
    <!-- <input type="password" name="password" placeholder="enter new password"> -->
    <button>Change</button>
</form>

<%- include('./partials/footer'); -%>