<%- include('./partials/header'); -%>

<form action="/login" method="POST">
    <input type="text" name="email" placeholder="email" value="inkers">
    <input type="password" name="password" placeholder="password" value="inkers">
    <button>Login</button>
</form>
<a href="/register">REGISTER</a>
<a href="/forgot">Forget password</a>


<%- include('./partials/footer'); -%>