<%- include('./partials/header') -%>

<form action="/user/updatePass" method="POST">
    <input type="text" name='updatePass' placeholder="enter new password">
    <button>Update</button>
</form>

<%- include('./partials/footer') -%>
