<%- include('./partials/header') -%>

<h1>Hello User <%= currentUser.email %> </h1>
<form action="/logout" method="POST">
    <button>Logout</button>
</form>
<a href="/user/profile"><button>Profile</button></a>

<%- include('./partials/footer') -%>
