<%- include('./partials/header') -%>

<div class="container">
    <div>
        <h1>Hello User <%= currentUser.email %> </h1>
        <form action="/user/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="image">
            <button>Upload</button>
        </form>
    </div>
    <div class="row text-center">
        <% currentUser.image.slice().reverse().forEach(function(image){ %>
        <div class="col-lg-3" id="loc-card">
            <div class="img-thumbnail">
                <form action="#" method="POST">
                    <img class="img-responsive" width="100%" height="200px" src="<%= image.url %>">
                    <button>Full Image</button>
                </form>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<%- include('./partials/footer') -%>